---
layout: default
---

<div class="home">

  <img src="{{ site.baseurl }}assets/cover-collage.png" alt="Collage of ACM activities" style="border-radius: 1rem;"><br><br>

  <h1 class="page-heading">Upcoming Events</h1>

  <ul class="post-list event-list">
    {% for event in site.categories.events %}
      {% if event.expires > site.time %}
      <li>
        <span class="post-meta">{{ event.date-text }}</span>

        <h2>
          <a class="post-link" href="{{ event.url | prepend: site.baseurl }}">{{ event.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h1 class="page-heading">Blog Posts</h1>

  <ul class="post-list blog-list">
    {% for blog in site.categories.blogs %}
      <li>
        <span class="post-meta">{{ blog.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ blog.url | prepend: site.baseurl }}">{{ blog.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
